body {
	font-family: 'Courier New';
	background-color: #ecfbf8;
	
}
.check_db_runnig{
	font-family: 'Courier New';
	font-size: 90%;	
	color:#0000ff;	
	
}
.package {
	font-family: 'Courier New';
	position: absolute;
	cursor: pointer;
}

.link_label{
	font-family: 'Courier New';
	font-size: 80%;
	background-color:transparent;	
	
}
.error_msg{
	font-family: 'Courier New';
	font-size: 120%;	
	color:red;
}

.context_menu-item {
	height: 20px;
}
.context_menu-item:hover {
	background-color: #484cfb;
	cursor: pointer;
}
.crypto{
	font-family: 'Courier New';
	font-size: 80%;
	position: absolute;	
	left: 40px;
	top:80px;	
}
.close_button:hover {

	background-color: #484cfb;
}
.close_button{
	cursor: pointer;	
}
.prim{
	font-family: 'Courier New';
	font-size: 80%;	
	display: inline-block;	
}

.table_tools_panel{
	font-family: 'Courier New';
	font-size: 80%;
	font-weight: bold;
	background-color: #1a6586;
	position: absolute;
	display: block;	
	overflow: visible;
	border-style:solid;
	border-width:thin;	
	padding: 1px;
	white-space: nowrap;
	overflow: hidden;
}
.table_data_header{
	font-family: 'Courier New';
	font-size: 80%;
	font-weight: bold;
	background-color: #537b8c;
	position: absolute;
	display: block;	
	overflow: visible;
	border-style:solid;
	border-width:thin;	
	padding: 1px;
	white-space: nowrap;
	overflow: hidden;
}
.table_data_cell{
	font-family: 'Courier New';
	font-size: 80%;
	background-color: #E5E5E5;
	position: absolute;
	display: block;	
	overflow: visible;
	border-style:none;
	border-width:thin;	
	padding: 1px;
	white-space: nowrap;
	overflow: hidden;
}
.input_ctrl{
	font-family: 'Courier New';
	font-size: 80%;
	position: absolute;
	display: none;		
}
.properties_class{

	font-family: 'Courier New';
	font-size: 80%;
	width: 250px;
	background-color: #c0c0c0;
	box-shadow: 3px 3px 5px #888888;
	border-style: solid;
	border-width: 1px;
	border-color: grey;
	border-radius: 2px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
	position: absolute;
	display: none;
	z-index: 2000;	
	
	
}
.context_menu_div {
	font-family: 'Courier New';
	font-size: 80%;
	width: 180px;
	background-color: white;
	box-shadow: 3px 3px 5px #888888;
	border-style: solid;
	border-width: 1px;
	border-color: grey;
	border-radius: 2px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
	position: absolute;
	display: none;
	z-index: 1500;
}
.menu {
	font-family: 'Courier New';
	font-size: 80%;
	width: 200px;
	background-color: white;
	box-shadow: 3px 3px 5px #888888;
	border-style: solid;
	border-width: 1px;
	border-color: grey;
	border-radius: 2px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
	position: fixed;
	display: none;
	z-index: 1000;
}

.menu-item {
	height: 20px;
}

.menu-item:hover {
	background-color: #484cfb;
	cursor: pointer;
}
.caption1 {
	font-family: 'Courier New';
	font-size: 150%;
	text-align: left;
	color: #001099;
	font-weight: bold;
}

.caption2 {
	font-family: 'Courier New';
	font-size: 110%;
	text-align: left;
	color: #001099;
	font-weight: bold;
}

.resource {
	position:inherit;
	color: Maroon;
	font-weight: normal;
}

.package {
	position:inherit;	
	color: RoyalBlue;
	font-weight: bold;
}
.command {
	position:inherit;	
	color: black;
	font-size: 80%;
	font-weight: bold;
	cursor: pointer;
}

.command:hover {
    text-decoration: underline;
}

.response {	
	font-family: 'Arial';
	position:inherit;	
	color: black;
	font-size: 80%;
	font-weight: bold;	
}
.warning {	
	font-family: 'Courier New';
	position:inherit;	
	color: red;
	font-size: 90%;
}
.journal {
	font-family: 'Tahoma';
	position:absolute;	
	overflow:scroll; 
	height:300px;
	width:700px;	
	color: black;
	font-size: 90%;	
	border: 1px double black; 
    background: #FFF; 
    padding: 10px;
}
.replication {
	font-family: 'Courier New';	
	color: black;
	font-size: 80%;
	font-weight: bold;
}
.table1 { 
	border-collapse: collapse; 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px; 		
	background-color:#191970;
	border-spacing: 7px 5px; 
	border: 1px solid #399; 	
	} 

.table1 th {
	background-color:#008080;	
	} 

.table1 tr {
	background-color:#AFEEEE;	
	} 
		
.table1 td { 	
	padding: 1px;
	text-align: left; 
	border-bottom: 1px solid #ddd;
	border: 1px solid #333;
	background-color:#E0FFFF;
	} 
.table1 tr:hover {
	background-color:#f5f5f5;
	}
	
.caption1 { 
	font-family: courier;
	font-size: 150%; 
	display:inline-block;
	text-align: left;
	color: #001099;
} 
.group { 
	text-align: left; 
	color: #001099;
	border: 1px solid #399;
	} 

.graph_obj{

  	position:absolute;	
  	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	display: block;	
	
}	
	
.server{
  	position:absolute;	
  	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: blue;
}

.server1{
 	min-height: 70px;
 	width: 140px;
}
.server2{
 	min-height: 194px;
 	width:71px;
}
.db_system{
  	position:absolute;	
  	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #800040;
}
.oracle_db{
 	min-height: 70px;
 	width: 140px;	
}
.sap_hana{
 	min-height: 70px;
 	min-width: 100px;	
}
.http{
 	min-height: 70px;
 	min-width: 150px;
}

.navigation1{
	font-family: courier;
	font-size: 80%; 	
}
.info_block1{
	font-family: courier;
	font-size: 80%; 	

}
